<div class="d-flex flex-row ">
    <%= render 'layouts/dashadmin'%>
        <div class="d-flex flex-column">
            <div class="c4">
                <center>
                <h1 class="admin-management-heading">Project Management</h1>
                </center>
            
            <div class="w-100">
                <table class="table">
                    <tr class="t-header-cotainer">
                        <th>Project Name</th>
                        <th>Project Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        
                    </tr>
                    <% @project_managements.each do |project| %>
                    <tr class="t-sub-container">
                        <td>
                        <%= project.project_name %>
                        </td>
                        <td>
                        <%= project.description %>
                        </td>
                        <td>
                        <%= link_to edit_project_management_path(project), class: "btn", data: { turbo_frame: "remote_modal" } do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                        <% end %>  
                        </td>   
                        <td>
                        <%= button_to project_management_path(project), class: "btn" , method: :delete do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        <% end %>
                        </td>
                    </tr>
                    <% end %>
                </table><br>
                <div>
                    <%= link_to "Add New Project", new_project_management_path, method: :get, data: { turbo_frame: "remote_modal" }, class: "btn btn-primary" %>  
                </div>
            </div>
        </div>
</div>

